 <div class="hero-image2">
  <div class="hero-text">
    <h1>OUR MEAL PACKAGES</h1>
    <h3>Our meal packages are thoughtfully crafted to cater to every individual. It is made fresh from when you order to ensure quality once it reaches your door.</h3>
    
  </div>
</div>
 <div class="container">
     
<div class="row">
    {{#grouped_each 1 data}}
  <div class="col-md-3 item">
    {{#each this }}
     <img class="rounded-circle" src={{{image}}}  style="width:80%;"><br>
        <strong>{{title}}</strong><br>
        Price: CA${{price}}<br>
        Category: {{category}}<br>
        Meals Included: {{amount}}<br>
        {{synopsis}}
      
    {{/each}}
  </div>
{{/grouped_each}}
</div>

   
 </div>
                
    
     
