 <div class="hero-image2">
  <div class="hero-text">
    <h1>OUR MEAL PACKAGES</h1>
    <h3>Our meal packages are thoughtfully crafted to cater to every individual. It is made fresh from when you order to ensure quality once it reaches your door.</h3>
    
  </div>
</div>
 <div class="container">
     
<div class="row">
    {{#grouped_each 1 data}}
  <div class="col-md-3 item">
    {{#each this }}
     <img class="rounded-circle" src={{{img}}}  style="width:80%;"><br>
        <strong>{{mealname}}</strong><br>
        Price: CA${{mealprice}}<br>
        Category: {{mealcategory}}<br>
        Meals Included: {{mealnumber}}<br>
        {{mealdescription}}<br>
       {{#if topmeal}} <p style="color:brown"><strong>TOP MEAL</strong></p>{{/if}}
    {{/each}}
  </div>
{{/grouped_each}}
</div>

   
 </div>
                
    
     
